@media screen {
  main {
    max-width: 1180px;
    margin: 0 auto;
  }


  .menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(to right,
        white 0%,
        rgb(229, 229, 229) 20%,
        rgb(229, 229, 229) 80%,
        white 100%);
    border-image: linear-gradient(to right,
        white 0%,
        rgb(229, 229, 229) 20%,
        rgb(229, 229, 229) 80%,
        white 100%);

    border-image-slice: 1;

  }

  .item {
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    position: relative;

  }

  .item__title {
    display: flex;
    justify-content: space-between;
    padding: 10% 7%;
    border-right: 2px solid rgb(229, 229, 229);
  }

  .item__select {
    position: absolute;
    width: 100%;
    z-index: 12;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);

  }

  .item__select div {
    font-size: 0.7rem;
    line-height: 1.5rem;
    padding-left: 1vw;
  }

  .item__select div:hover {
    color: rgb(243, 102, 113);
  }

  .item>span {
    padding-left: 6vw;
  }

  .menu__top>li {
    height: 100%;
    width: 30%;
  }

  .selected {
    color: rgb(243, 102, 113);
    padding-left: 1vw;
  }

  .text_color {
    color: rgb(243, 102, 113);
  }

  .banner__border {
    margin-top: 5vh;

  }

  .layout-3-column {
    display: flex;

  }

  .banner__left>.banner__img {

    background-image: url('../img/bannersLeft.jpg');
    background-size: cover;

  }

  .banner__left {
    width: 49%;
  }

  .banner__center,
  .banner__right {
    width: 25%;

  }

  .banner__center>.banner__img {

    background-image: url('../img/bannersRight1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner__right>.banner__img {

    background-image: url('../img/bannersRight2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .banner__left,
  .banner__center,
  .banner__right {
    position: relative;

  }

  .banner__left>.banner__title,
  .banner__center>.banner__title,
  .banner__right>.banner__title {
    position: absolute;
    color: white;

  }

  .banner__title {
    font-size: 1.5rem;
  }

  .banner__left>.banner__title>p,
  .banner__center>.banner__title>p {
    color: white;

  }

  .banner__left>.banner__title {
    left: 60%;
  }

  .banner__center>.banner__title {
    left: 10%;
    top: 70%;
  }

  .banner__right>.banner__title {
    left: 40%;
    top: 70%
  }


  .catalog__items {
    position: relative;
  }

  .catalog__items:hover {
    color: rgb(243, 102, 113);
  }


  .catalog__text {
    text-align: center;
    padding: 10vh 0;
    line-height: 2.5rem;
  }

  .catalog__items {
    margin-bottom: 3vh;
  }

  .catalog__items:last-child {
    display: none;
  }

  footer {
    margin-top: 0;
  }

  .footer__border {
    border-top: none;
  }


}

@media screen and (max-width:1024px) {

  .banner__left {
    width: 71%;
  }


  .banner__right {
    display: none;
  }

  .banner__title {
    font-size: 1rem;
  }

}

@media screen and (max-width: 768px) {


  .banner__left {
    width: 100%;
  }

  .banner__center {
    display: none;
  }

  .banner__border {
    border-top: none;
  }

  .banner__title {
    font-size: 1.9rem;

  }

  .catalog__items:nth-child(7) {
    display: none;
  }


}